body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none
}


/* 背景圖片 */

.login-wrap {
    width: 100%;
    /* 水平居中頁面 */
    margin: auto;
    /* 使用 max-width 替代 width 可以更完美的處理當瀏覽器視窗小於元素寬度的情況 ，設定最大寬度限制。*/
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}


/* 註冊/登入圖層 */


/* box-sizing的設定值 content-box：預設值，實際寬高＝所設定的數值＋border＋padding border-box：實際寬高＝所設定的數值(已包含border和padding) */

.login-html {
    width: 100%;
    height: 100%;
    /* max-width: 525px;
    min-height: 670px; */
    box-sizing: border-box;
    position: absolute;
    padding: 90px 70px 5px 70px;
    background: rgba(40, 57, 101, .9);
}


/* SIGN UP/SIGN IN 表單位置和切換特效 */

.login-form .sign-in-htm,
.login-form .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    /* 隐藏被旋转的 div 元素的背面： */
    backface-visibility: hidden;
    transition: all .4s linear;
    /* border: 2px solid; */
}


/* 隱藏radio元件的圓圈 */

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}


/*字母大寫  */

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}


/* SIGN IN和SIGN UP*/

.login-html .tab {
    font-size: 22px;
    /* margin-right: 15px; */
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    /*未點擊的底線為透明 */
    border-bottom: 2px solid transparent;
}


/* 登入/註冊被點擊時變更顏色 */

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}


/* SIGN IN/SIGN UP表單 */

.login-form {
    min-height: 345px;
    position: relative;
    /* perspective的值我們可以想像成物件距離螢幕的距離，如果值越大代表越遠 */
    perspective: 1000px;
    /* transform-style: preserve-3d; */
    /* border: 2px solid; */
}


/* 每個input group 的margin */

.login-form .group {
    margin-bottom: 15px;
}


/* 欄位樣式 */

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
    /* border: 2px solid greenyellow; */
    /* box-sizing: border-box */
}


/* input&button樣式 */

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
    /* border: 2px solid; */
    box-sizing: border-box;
}


/* 欄位label樣式 */

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: #1161ee;
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}